<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18G103</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>app_mode_loader</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.Chrome.app.mkhlfmnokkplpegghgdgabfekehopilm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TestSuitSummary - Google Sheets</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2020.5.29.49303</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4103.61</string>
	<key>CrAppModeShortcutID</key>
	<string>mkhlfmnokkplpegghgdgabfekehopilm</string>
	<key>CrAppModeShortcutName</key>
	<string>TestSuitSummary - Google Sheets</string>
	<key>CrAppModeShortcutURL</key>
	<string>https://docs.google.com/spreadsheets/d/1-MZY4IZJNueRmpzsEQqqcQ5r-BuTiVUlRi5C06CKFq4/edit#gid=0</string>
	<key>CrAppModeUserDataDir</key>
	<string>/Users/Lei/Library/Application Support/Google/Chrome/-/Web Applications/_crx_mkhlfmnokkplpegghgdgabfekehopilm</string>
	<key>CrBundleIdentifier</key>
	<string>com.google.Chrome</string>
	<key>CrBundleVersion</key>
	<string>83.0.4103.61</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTSDKBuild</key>
	<string>10.15</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1121</string>
	<key>DTXcodeBuild</key>
	<string>11B53</string>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocNanoZone</key>
		<string>0</string>
	</dict>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.10.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
